{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "consistent-return": 0,
    "id-length": [2, {"exceptions": ["_", "x", "y"]}],
    "new-cap": [2, {
      "capIsNewExceptions": ["CSSModules"]
    }],
    "react/no-multi-comp": [2, { "ignoreStateless": true }]
  }
}
